# MongoDB Connection
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@dbuian-fashion-cluster.4r8bx9f.mongodb.net/?appName=dbuian-fashion-cluster

# Server Port
PORT=5000

# JSON Web Token settings
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d

# Cloudinary Config (for image uploads)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Email Configuration
EMAIL_SERVICE=gmail
GMAIL_USER=yourgmail@gmail.com
GMAIL_APP_PASSWORD=your_16_character_google_app_password
EMAIL_FROM=yourgmail@gmail.com
FROM_EMAIL=yourgmail@gmail.com
MOCK_EMAILS=false

# Optional SendGrid fallback
SENDGRID_USERNAME=apikey
SENDGRID_API_KEY=your_sendgrid_api_key

# Frontend and Local Environment
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000
NODE_ENV=development

# Google Auth Config
GOOGLE_CLIENT_ID=your_google_client_id_here

# Chapa Payment Config
CHAPA_SECRET_KEY=CHASECK_TEST-R7qExChm5Gdvi4Kib0P5Y4Pu6F7s0xEP
CHAPA_BASE_URL=https://api.chapa.co/v1
CHAPA_CALLBACK_URL=http://localhost:5000/api/payments/chapa/webhook
CHAPA_RETURN_URL=http://localhost:5173/payment/success
