# MongoDB Connection
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@dbuian-fashion-cluster.4r8bx9f.mongodb.net/?appName=dbuian-fashion-cluster

# Server Port
PORT=5000

# JSON Web Token settings
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d

# Cloudinary Config (for image uploads)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# SendGrid Config (for sending emails)
SENDGRID_USERNAME=apikey
SENDGRID_API_KEY=your_sendgrid_api_key
EMAIL_FROM=noreply@example.com
FROM_EMAIL=noreply@example.com

# Frontend and Local Environment
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
